.about {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  overflow: hidden;

  @include tablet {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: stretch;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: var(--color-primary);
    position: absolute;
    top: 5%;
    left: 0;
  }
  &__eyeDecor {
    position: absolute;
    top: 30%;
    left: 0;
    width: clamp-xs-l(84px, 150px);
    height: clamp-xs-l(106px, 190px);
    z-index: 1;
  }

  &__followEye {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    z-index: 2;
  }

  &__dotSquare {
    position: absolute;
    width: 80%;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  &__description {
    position: relative;
    border: green 1px solid;
    width: clamp-xs-l(300px, 520px);
    height: clamp-xs-l(300px, 520px);
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr 9fr;
    margin-bottom: 15%;
    z-index: 1;

    @include tablet {
      margin-bottom: 0;
    }
  }
  &__decor {
    background-color: var(--color-primary);
    grid-column: 1;
    grid-row: 1;
  }
  &__intro {
    @include flex-column;
    position: relative;
    justify-content: space-around;
    background-color: var(--color-primary);
    padding: 13% 8% 18%;

    grid-column: 2;
    grid-row: 2;
  }

  &__text1 {
    @include responsive-font-size(16px, 36px);
  }

  &__text2 {
    @include responsive-font-size(14px, 30px);
  }
  &__bold {
    font-family: "PP-bold";
  }

  &__moreInfo {
    position: absolute;
    z-index: 2;
    width: clamp-xs-l(100px, 200px);
    height: clamp-xs-l(100px, 200px);
    right: -10%;
    top: 55%;

    @include tablet {
      right: 15%;
      top: 80%;
    }
  }

  &__infiniteText {
    position: absolute;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;

    @include tablet {
      top: 0;
    }
  }
  &__details {
    background-color: var(--color-primary);

    z-index: 1;
    padding: 10% 8%;
  }

  &__detailsTitle {
    display: flex;
  }

  &__detailsCTA {
    max-width: 40ch;
    margin-top: 8%;
    margin-bottom: 8%;
  }

  &__list {
    // border: chartreuse 1px solid;
  }

  &__listTitle {
    display: flex;
    align-items: top;

    h3 {
      padding-left: 2%;
    }
  }
  &__listIcon {
    @include large-star;
  }

  &__listItems {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
  }

  &__listItem {
    width: 90%;
    border-bottom: var(--color-light) 0.5px solid;
    display: flex;
    align-items: flex-start;

    h4 {
      padding-left: 5%;
    }
  }
}
