@use "@/app/mixins" as *;

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  z-index: 1;

  @include tablet {
    width: 100vw;
    height: 100%;
  }

  &__content {
    @include flex-column;
    position: relative;
    justify-content: center;
    padding-left: clamp-xs-l(25px, 50px);
    padding-bottom: clamp-xs-l(37px, 100px);
    z-index: 2;

    @include tablet(landscape) {
      width: 70vw;
      height: 70vw;
    }
    @include tablet(portrait) {
      width: 80vw;
      height: 80vw;
      padding-left: clamp-s-m(30px, 60px);
    }
    @include mobile {
      width: 100vw;
      height: 50vh;
    }
  }

  &__name {
    @include flex-column;
    position: relative;
    width: clamp-xs-l(108px, 293px);
  }

  &__firstName {
    color: var(--color-secondary);
  }

  &__lastName {
    text-align: right;
  }

  &__title {
    @include flex-column;
    margin-top: 5%;

    @include tablet {
      margin-top: 8%;
    }
  }

  &__subtitle {
    max-width: 30ch;
    margin-top: 2%;
  }

  &__location {
    display: flex;
    position: absolute;
    bottom: clamp-s-l(25px, 38px);
    left: clamp-xs-l(25px, 50px);
    width: clamp-xs-l(88px, 187px);
    justify-content: space-between;
    align-items: center;

    @include tablet {
      color: var(--color-primary);
    }
    @include mobile {
      right: clamp-xs-l(15px, 45px);
      left: auto;
      bottom: clamp(40%, 45vh, 53%);
      color: var(--color-primary);
    }
  }

  &__icon {
    position: relative;
    width: clamp-xs-l(16px, 42px);
    height: clamp-xs-l(16px, 42px);
  }

  &__time {
    max-width: 15ch;
    padding-left: 0.5em;
  }

  &__image {
    object-fit: cover;
    object-position: center;
  }

  &__portrait {
    position: absolute;
    z-index: 1;
    width: clamp(35vw, 52%, 840px);
    max-height: 100%;
    min-height: 95%;
    bottom: 0;
    right: 0;

    @include tablet(landscape) {
      width: clamp-s-m(280px, 650px);
      max-height: 80%;
      min-height: 75%;
      right: clamp-s-m(-33px, -50px);
    }

    @include tablet(portrait) {
      width: clamp-s-m(330px, 700px);
      max-height: 75%;
      min-height: 65%;
      bottom: 0;
      right: 0;
    }

    @include mobile {
      min-width: 80vw;
      max-width: 90vw;
      min-height: 50%;
      max-height: 60%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
