@use "@/app/mixins" as *;
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;

  &__content {
    @include flex-column;
    position: relative;
    justify-content: space-around;
    height: 100%;
    padding-left: var(--container-padding);
    z-index: 2;

    @include tablet {
      height: 80%;
    }
    @include mobile {
      height: 50%;
    }
  }

  &__name {
    @include flex-column;
    position: relative;
    width: 35%;
    align-items: stretch;

    border: rebeccapurple 1px solid;

    &__fn {
      color: var(--color-secondary);
    }

    &__ln {
      text-align: right;
    }
  }
  &__title {
    @include flex-column;
    &__subtitle {
      max-width: 30ch;
      margin-top: 2em;
    }
  }

  &__location {
    display: flex;
    position: relative;
    width: 20%;
    border: rebeccapurple 1px solid;

    justify-content: space-between;
    align-items: center;

    &__icon {
      position: relative;
      width: 2em;
      height: 2em;
      width: 10;
      border: rebeccapurple 1px solid;
    }

    &__time {
      max-width: 15ch;
      padding-left: 0.5em;
    }
  }

  &__image {
    object-fit: cover;
  }

  &__portrait {
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    height: 100%;
  }
}
