.experience {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-primary);
  position: relative;
  padding: var(--padding-top) var(--padding-side);

  @include mobile {
    margin-top: 0;
    height: auto;
  }

  &__title {
    margin-bottom: var(--margin-l);
  }

  &__content {
    @include flexbox($dir: row, $justify: space-between, $align: stretch);
  }

  &__description {
    p {
      margin-bottom: var(--margin-m);
      max-width: 40ch;
    }
  }

  &__formula {
    @include flexbox($dir: column, $justify: flex-end, $align: flex-end);
  }

  &__line {
    height: 0.5px;
    width: 100%;
    background-color: var(--color-light);
    margin: var(--margin-s) 0;
  }
}
