@use "sass:math";
/* ----------------  Define breakpoints ---------------- */

// Breakpoints
$breakpoint-mobile-small: 320px; //xs
$breakpoint-mobile: 540px; //s
$breakpoint-tablet: 1024px; //m
$breakpoint-desktop: 1440px; //l

// Mixins for responsive design

@mixin mobile-small {
  @media (max-width: #{$breakpoint-mobile-small}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet($orientation: null) {
  @if $orientation == portrait {
    @media (min-width: #{$breakpoint-mobile + 1}) and (max-width: #{$breakpoint-tablet}) and (orientation: portrait) {
      @content;
    }
  } @else if $orientation == landscape {
    @media (min-width: #{$breakpoint-mobile + 1}) and (max-width: #{$breakpoint-tablet}) and (orientation: landscape) {
      @content;
    }
  } @else {
    @media (max-width: #{$breakpoint-tablet}) {
      @content;
    }
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-tablet + 1}) {
    @content;
  }
}

// Responsive Clamp
@function responsive-clamp($min, $max, $min-viewport, $max-viewport) {
  $scaling-factor: math.div($max - $min, $max-viewport - $min-viewport);
  @return clamp(
    #{$min},
    calc(#{$min} + (100vw - #{$min-viewport}) * #{$scaling-factor}),
    #{$max}
  );
}

// Extra Small to Large (xs to l)
@function clamp-xs-l($min, $max) {
  @return responsive-clamp(
    $min,
    $max,
    $breakpoint-mobile-small,
    $breakpoint-desktop
  );
}

// Small to Large (s to l)
@function clamp-s-l($min, $max) {
  @return responsive-clamp($min, $max, $breakpoint-mobile, $breakpoint-desktop);
}

// Extra Small to Small (xs to s)
@function clamp-xs-s($min, $max) {
  @return responsive-clamp(
    $min,
    $max,
    $breakpoint-mobile-small,
    $breakpoint-mobile
  );
}

// Medium to Large (m to l)
@function clamp-m-l($min, $max) {
  @return responsive-clamp($min, $max, $breakpoint-tablet, $breakpoint-desktop);
}

// Small to Medium (s to m)
@function clamp-s-m($min, $max) {
  @return responsive-clamp($min, $max, $breakpoint-mobile, $breakpoint-tablet);
}

// Mixin for Responsive Font Size
@mixin responsive-font-size($min-size, $max-size) {
  $min-viewport: $breakpoint-mobile-small;
  $max-viewport: $breakpoint-desktop;

  font-size: responsive-clamp(
    $min-size,
    $max-size,
    $min-viewport,
    $max-viewport
  );
}

/* ----------------  Display Flex variables ---------------- */

@mixin flexbox(
  $dir: row,
  $justify: flex-start,
  $align: stretch,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

/* ----------------  Common Element ---------------- */

@mixin small-star {
  position: relative;
  width: clamp-xs-l(16px, 42px);
  height: clamp-xs-l(16px, 42px);
}

@mixin large-star {
  position: relative;
  width: clamp-xs-l(24px, 64px);
  height: clamp-xs-l(24px, 64px);
}

@mixin small-title {
  position: absolute;
  top: var(--side-top);
  left: var(--side-left);
}
