@use "@/app/mixins" as *;
@use "@/fonts/fonts.scss" as *;

:root {
  /* ---------------- Color Variables ---------------- */
  --color-primary: #0f0f0f;
  --color-secondary: #f28705;
  --color-tertiary: #dcb373;
  --color-light: #ffffff;

  --bg-linear: linear-gradient(
    309deg,
    var(--color-secondary) 40.13%,
    var(--color-tertiary) 67.65%
  );
  --bg-linear-reverse: linear-gradient(
    302deg,
    var(--color-tertiary) 34.39%,
    var(--color-secondary) 51.88%
  );

  --color-border: rgba(242, 240, 228, 0.5);
  --color-border-solid: #f2f0e4;
  --color-border-light: rgba(242, 240, 228, 0.5);

  --color-text-light: #ffffff;
  --color-text-dark: #1c1d20;

  /* ---------------- Animation variables ---------------- */
  --animation-primary: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  --animation-fast: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-smooth: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-slow: all 0.9s cubic-bezier(0.7, 0, 0.3, 1);

  /* ---------------- Container Padding variables ---------------- */
  --section-padding: clamp(5em, 21vh, 12em);
  --container-padding: clamp(1em, 5vw, 5em);
  --gap-padding: clamp(1.5em, 4vw, 2.5em);
}

@include mobile {
}
@include tablet {
}
@include desktop {
}

/* ------------------------- Body -------------------------------------------------- */
* {
  // border: 1px solid red;
  //cursor: none;
  margin: 0;
  padding: 0;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--color-text-dark);

  font-size: var(--base-font-size);
  font-size: clamp(16px, 1.2vw, 19px);
}

/* Hide scrollbar */
html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol,
span,
strong,
em {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 450;
  letter-spacing: normal;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
p:last-child,
p.big:last-child,
p.small:last-child,
a:last-child,
strong:last-child {
  margin-bottom: 0;
}
h1 {
  @include responsive-font-size(60px, 160px);
  font-family: "PP-bold", sans-serif;
  font-weight: 450;
  font-style: normal;
  line-height: 1.065;
}
h2 {
  @include responsive-font-size(18px, 48px);
  font-family: "PP-bold", sans-serif;
  font-weight: 450;
  font-style: normal;
  line-height: 1.065;
}

h3 {
  font-family: "PP-bold", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-size: clamp(1.5em, 3vw, 2em);
  text-transform: uppercase;
  line-height: 1.065;
}

h4 {
  font-family: "PP-bold", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-size: clamp(0.8em, 1.2vw, 1.5em);
  line-height: 1;
}

h5 {
  font-family: "PP-bold", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-size: 0.6em;
  line-height: 1.065;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.5;
}

span {
  font-family: "PP-regular", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-size: clamp(1em, 1.5vw, 1.5em);
}

p {
  @include responsive-font-size(12px, 18px);
  font-family: "PP-light", sans-serif;
  font-weight: 450;
  font-style: normal;
  color: var(--color-text-light);
  line-height: 1.1;
}

p.small {
  @include responsive-font-size(10px, 14px);
  line-height: 1.05;
  letter-spacing: 0.015em;
}

p.big {
  font-size: 1.2em;
}

strong {
  font-weight: 800;
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

section {
  width: 100%;
}
