.container {
  position: relative;
  height: 100vh;
  width: max-content;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  will-change: transform;

  @media (max-width: #{$breakpoint-tablet}) {
    width: 100vw;
    height: auto;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.section {
  flex-shrink: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  font-size: 2rem;
  color: white;

  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;

  @include tablet {
    position: relative;
    transform: none !important;
  }
}

.section1 {
}

.section2 {
  @include tablet {
    height: auto;
  }
}

.section3 {
  display: flex;
  flex-direction: column;
  height: 200vh;
  background-color: var(--color-primary);
  @include tablet {
    height: auto;
  }
}

.section4 {
  // background: var(--bg-linear);
}
