.projects {
  position: relative;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--color-primary);

  &__title {
    @include small-title;
  }
  &__container {
    width: 100%;
    padding: var(--padding-side);
    margin: var(--gap-margin) 0;
  }
  &__listTitles {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    padding: 1rem;
    opacity: 0.8;
    text-transform: uppercase;

    h6 {
      &:nth-last-child(2) {
        justify-self: center;
      }
      &:last-child {
        justify-self: end;
      }
    }
  }
  &__role {
    width: 20%;
    display: flex;
    justify-content: center;
  }

  &__line {
    border-top: var(--border);

    &:last-child {
      border-bottom: var(--border);
    }
  }
}
