.projects {
  @include flexbox(column, flex-start, flex-start);
  position: relative;

  height: 100%;
  width: 100%;

  padding: var(--padding-top) var(--padding-side);
  border: red 1px solid;

  @include tablet {
    border: yellowgreen 1px solid;
  }

  @include mobile {
    border: blueviolet 1px solid;
  }

  &__title {
    margin-bottom: var(--margin-l);
    border: red 1px solid;
  }
}
