.aboutMe {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  // overflow: hidden;

  @include mobile {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
  }

  &__who {
    @include flexbox($dir: column, $justify: flex-start, $align: flex-start);
    padding-left: var(--padding-side-small);
    color: var(--color-primary);
    position: relative;

    @include tablet {
      border: yellowgreen 1px solid;
    }
    @include mobile {
      padding: 0 var(--padding-side);
      border: blueviolet 1px solid;
    }
  }

  &__title,
  &__title2 {
    padding-top: var(--padding-top-small);
    margin-bottom: var(--margin-l);
  }

  &__content {
    @include flexbox($dir: column, $justify: center, $align: center);
    width: 100%;
    border: yellowgreen 1px solid;
  }
  &__hello {
    @include flexbox($dir: row, $justify: flex-start, $align: baseline);
    width: clamp-xs-l(270px, 550px);
  }
  &__followEye {
    width: clamp-xs-l(40px, 83px);
    height: clamp-xs-l(40px, 83px);
  }

  &__row {
    @include flexbox($dir: row, $justify: flex-start, $align: flex-start);
    width: clamp-xs-l(270px, 550px);
    div {
      // border: red 1px solid;
    }

    @include tablet {
      border: yellowgreen 1px solid;
    }
  }

  &__im {
    width: clamp-xs-l(65px, 120px);
    height: clamp-xs-l(65px, 120px);
    position: relative;

    @include tablet {
      border: yellowgreen 1px solid;
    }
  }
  &__image {
    object-fit: fill;
    object-position: bottom;
  }
  &__name {
    position: relative;
    align-self: end;

    @include tablet {
      border: yellowgreen 1px solid;
    }
  }

  &__decor {
    display: flex;
    width: clamp-xs-l(65px, 120px);
    align-items: flex-start;
  }

  &__description {
    border-top: var(--color-primary) 1px solid;
    border-left: var(--color-primary) 1px solid;
    width: clamp-xs-l(210px, 425px);
    height: clamp-xs-l(210px, 425px);
    position: relative;
    padding: var(--padding-side-small);

    p {
      padding-bottom: var(--padding-side-small);
      max-width: 40ch;
    }
  }
  &__cta {
    @include flexbox($justify: space-evenly, $align: center);

    position: absolute;
    width: 50%;
    bottom: 2rem;
    right: 0;
    overflow: hidden;
  }

  &__starLine {
    @include large-star;
  }

  &__ctaText {
    max-width: 15ch;
    font-style: bold;
  }

  /* ----------------  what I do  ---------------- */

  &__what {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    height: 100vh;
  }
  &__bar {
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
    position: relative;
    align-self: end;
  }
  &__title2 {
    color: var(--color-light);
    mix-blend-mode: difference;
    z-index: 1;
    position: relative;
    padding-left: var(--padding-side);
  }

  &__expertise {
    grid-column: 2 / 5;
    width: 100%;
    height: 100%;
    position: relative;
  }
}
