/* ---------------- Fonts Size ---------------- */
$base-font-size: 16px;
$base-line-height: 1.064;
$base-h1-size: clamp(3.25em, 7vw, 8em);

@mixin responsive-font-size($desktop, $tablet, $mobile) {
  font-size: $desktop;

  @include tablet {
    font-size: $tablet;
  }

  @include mobile {
    font-size: $mobile;
  }
}

/* ---------------- Color Variables ---------------- */
$color-primary: #0f0f0f;
$color-secondary: #f28705;
$color-tertiary: #dcb373;
$color-light: #ffffff;

$bg-linear: linear-gradient(
  309deg,
  $color-secondary 40.13%,
  $color-tertiary 67.65%
);
$bg-linear-reverse: linear-gradient(
  302deg,
  $color-tertiary 34.39%,
  $color-secondary 51.88%
);

$color-border: rgba(242, 240, 228, 0.5);
$color-border-solid: #f2f0e4;
$color-border-light: rgba(242, 240, 228, 0.5);

$color-text-light: #ffffff;
$color-text-dark: #1c1d20;

/* ---------------- Animation variables ---------------- */
// for controlling the duration and easing of animations
$animation-primary: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
$animation-fast: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
$animation-smooth: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
$animation-slow: all 0.9s cubic-bezier(0.7, 0, 0.3, 1);

/* ---------------- Container Padding variables ---------------- */
$section-padding: clamp(5em, 21vh, 12em);
$container-padding: clamp(1em, 5vw, 5em);
$gap-padding: clamp(1.5em, 4vw, 2.5em);

/* ---------------- Grid variables ---------------- */
$grid-size-desktop: min(calc(92vw / 8), calc(90vh / 4));
$grid-size-tablet: min(calc(90vw / 4), calc(90vh / 6));
$grid-size-mobile: min(calc(90vw / 3), calc(90vh / 7));

/* ---------------- Elements ---------------- */
$border-primary: 1px solid $color-secondary;
$cursor-size: 40px;
$cursor-hover-size: 80px;
