.container {
  position: relative;
  height: 100vh; // Full viewport height
  width: 100vw; // Full viewport width
  overflow: hidden; // Prevent scrolling beyond visible sections
  display: flex; // Flex layout to enable smooth transitions
}

.section {
  flex-shrink: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  // justify-content: center;
  // align-items: center;
  font-size: 2rem;
  color: white;
}

.section1 {
  background: $bg-linear;
}

.section2 {
  background: $bg-linear-reverse;
}

.section3 {
  background-color: $color-primary;
  height: 150vh;
}

.section4 {
  background: $bg-linear;
}
