.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
}

.section {
  flex-shrink: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  font-size: 2rem;
  color: white;
}

.section1 {
  background: $bg-linear;
}

.section2 {
  background: $bg-linear-reverse;
}

.section3 {
  background-color: $color-primary;
  height: 150vh;
}

.section4 {
  background: $bg-linear;
}
