.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10% 3% 8% 8%;
  height: 100%;
  box-sizing: border-box;

  &__content {
    display: flex;
    gap: 5%;
    flex-direction: column;
  }
  &__link {
    perspective: 120px;
    perspective-origin: bottom;
    a {
      @include responsive-font-size(18px, 48px);
      text-decoration: none;
      color: var(--color-primary);
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;

    a {
      @include responsive-font-size(10px, 18px);
      width: 50%;
      margin-top: 1%;
    }
  }
}
