.followeye {
  @include flexbox($justify: center, $align: center);
  width: 100%;
  height: 100%;
  z-index: 10;

  &__content {
    @include flexbox($justify: center, $align: center);
    width: 100%;
    height: 100%;
  }
}

.responsiveSvg {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}
