.creative {
  display: flex;
  align-items: baseline;
  overflow: visible;
  z-index: 2;

  margin-bottom: -4.2%;

  &__eye {
    width: clamp-xs-l(38px, 90px);
    height: clamp-xs-l(38px, 90px);
  }

  &__i {
    position: relative;
    overflow: visible;
    width: clamp-xs-l(17px, 40px);
    max-height: clamp-xs-l(53px, 127px);
  }

  &__star {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: visible;
  }

  .responsiveSvg {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}
