@use "@/app/mixins" as *;

.creative {
  display: flex;
  align-items: baseline;
  overflow: visible;
  z-index: 2;

  margin-bottom: -4.2%;

  &__eye {
    width: responsive-clamp(
      57px,
      90px,
      $breakpoint-mobile,
      $breakpoint-desktop
    );
    height: responsive-clamp(
      57px,
      90px,
      $breakpoint-mobile,
      $breakpoint-desktop
    );
  }

  &__i {
    position: relative;
    overflow: visible;
    width: responsive-clamp(
      25px,
      40px,
      $breakpoint-mobile,
      $breakpoint-desktop
    );
    max-height: responsive-clamp(
      80px,
      127px,
      $breakpoint-mobile,
      $breakpoint-desktop
    );
  }

  &__star {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: visible;
  }

  .responsiveSvg {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}
