@use "@/app/mixins" as *;
.titles {
  position: relative;
  height: responsive-clamp(
    60px,
    160px,
    $breakpoint-mobile,
    $breakpoint-desktop
  );
  width: responsive-clamp(
    295px,
    840px,
    $breakpoint-mobile,
    $breakpoint-desktop
  );
  overflow: hidden;
  text-align: start;

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__letter {
    display: inline-block;
    line-height: 1;
    color: var(--color-text-light);
  }
}
