.project {
  @include flexbox($dir: column, $justify: space-between);
  width: 100%;
  padding: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:not(.project__open):hover {
    background-color: var(--color-light);
    color: var(--color-primary);
    transition: background-color 0.3s ease-in-out;
  }

  &__open {
    background-color: var(--color-primary) !important;
    color: var(--color-light) !important;
  }
  &__list {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
  }

  &__name {
    align-self: center;
  }
  &__role {
    justify-self: center;
    align-self: center;
  }
  &__year {
    justify-self: end;
    align-self: center;
  }
  &__details {
    @include flexbox($justify: space-between, $align: flex-start);
    opacity: 0;
    height: 0;
  }
  &__detailsBox {
    @include flexbox($dir: column, $justify: center, $align: space-between);
  }
  &__description {
    max-width: 50ch;
    padding-top: 2rem;
  }

  &__tags {
    @include flexbox(
      $dir: column,
      $justify: space-between,
      $align: space-between
    );
    padding-top: 2rem;
  }
  &__tag:before {
    @include text-deco;
  }

  &__tag {
    @include flexbox($justify: flex-start, $align: center);
    padding-top: 0.2rem;
  }

  &__image {
    height: auto;
    padding-top: 2rem;
  }
}
