.project {
  @include flexbox($dir: column, $justify: space-between);
  width: 100%;
  padding: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;

  // &:hover {
  //   background-color: var(--color-light);
  //   color: var(--color-primary);
  //   transition: background-color 0.3s ease-in-out;
  // }

  &__title {
    @include flexbox($justify: space-between, $align: center);
  }

  &__name {
    width: 60%;
  }
  &__role {
    width: 20%;
    display: flex;
    justify-content: center;
  }
  &__details {
    @include flexbox($justify: space-between, $align: flex-start);
    opacity: 0;
    height: 0;
  }
  &__description {
    max-width: 50ch;
  }

  &__image {
    height: auto;
  }
}
