.infiniteText {
  position: absolute;
  top: calc(100vh - 170px);

  //left: 0;
  z-index: 0;
  &__slider {
    position: relative;
    display: flex;
    white-space: nowrap;
  }

  &__slider h1 {
    position: relative;
    padding-right: 50px;
    margin: 0;
  }

  &__slider h1:nth-of-type(2) {
    position: absolute;
    left: 100%;
    top: 0;
  }
}
